{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajouter un film</h1>

    <form method="post">


        <p>
            <label for="film_title">Titre :</label>
            <input id="film_title" name="title" value="{{ film.title??null }}">
        </p>
        <p>
            <label for="film_isbn">Isbn :</label>
            <input id="film_isbn" name="isbn" value="{{ film.isbn??null }}">
        </p>
        <p>
            <label for="film_author">Auteur :</label>
            <input id="film_author" name="author" value="{{ film.author??null }}">
        </p>
        <p>
            <label for="film_desc">Résumé :</label>
            <textarea id="film_desc" name="description">{{ film.description??null }}</textarea>
        </p>
        <p>
            <label for="film_date">Date de sortie:</label>
            <input type="date" id="film_date" name="publicationDate" value="{{ film.publicationDate??null }}">
        </p>

        <input type="hidden" name="id" value="{{ film.id??0 }}">
        <p><input type="submit"></p>

    </form>
{% endblock %}

