{% extends "base.html.twig" %}

{% block body %}

    <h1>Films</h1>

    <a href="{{ path('add') }}">Ajouter un film</a>

    <table border="1">

        <tr>
            <th>Titre</th>
            <th>ISBN</th>
            <th>Auteur</th>
            <th>Résumé</th>
            <th>Sortie</th>
            <th></th>
        </tr>

        {% for film in films %}

            <tr>
                <td>{{ film.title }}</td>
                <td>{{ film.isbn }}</td>
                <td>{{ film.author }}</td>
                <td>{{ film.description }}</td>
                <td>{{ film.publicationDate|date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('edit', {id: film.id}) }}">Modifier</a>
                    <a href="{{ path('delete', {id: film.id}) }}">Supprimer</a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="99">Aucun film</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
