{% extends "base.html.twig" %}


{% block content %}

    <h1>{{ planete.nom }}</h1>
    <p>Taille: {{ planete.taille }} km</p>
    <p>Distance au soleil : {{ planete.distance }} UA</p>

    {% for item in items|slice(0, 10) %}
        <figure>
            <img src="{{ item.links[0].href }}">
            <figcaption>{{ item.data[0].title }}</figcaption>
        </figure>
    {% endfor %}

    <a href="{{ path('planetes_list') }}">Retour</a>

{% endblock content %}

