<nav>
    <ul>
        <li>Accueil</li>
        <li><a href="{{ path('hello_world') }}">Hello world</a></li>
        <li><a href="{{ path('hello_name', {name: 'Robert'}) }}">Hello Robert</a></li>
        <li><a href="{{ path('hello_name', {name: 'Gertrude'}) }}">Hello Gertrude</a></li>
        <li><a href="{{ path('hello_name', {name: 'Jeanne'}) }}">Hello Jeanne</a></li>
        <li><a href="{{ path('hello_name', {name: 'Michel'}) }}">Hello Michel</a></li>
    </ul>
</nav>
